# This file contains common pin mappings for the BigTreeTech GTR.
# To use this config, the firmware should be compiled for the
# STM32F407 with a "32KiB bootloader".
[include macros.cfg]
[include dockable_probe_macros.cfg]
[include bedmesh.cfg]

[stepper_x]
step_pin: PC15
dir_pin: PF0
enable_pin: !PF1
microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 400
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_endstop: 0
position_max: 220
homing_speed: 50

[stepper_y]
step_pin: PE3
dir_pin: PE2
enable_pin: !PE4
microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 400
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_endstop: 0
position_max: 250
homing_speed: 50

[stepper_z]
step_pin: PB8
dir_pin: PB7
enable_pin: !PB9
microsteps: 16
rotation_distance: 2
full_steps_per_rotation: 400
endstop_pin: probe:z_virtual_endstop
position_max: 200
homing_speed: 12
second_homing_speed: 1

[stepper_z1]
step_pin: PG12
dir_pin: PG11
enable_pin: !PG13
microsteps: 16
rotation_distance: 2
full_steps_per_rotation: 400

[extruder]
step_pin: PD6
dir_pin: PD5
enable_pin: !PD7
microsteps: 16
rotation_distance: 33.500
full_steps_per_rotation: 20
nozzle_diameter: 0.800
filament_diameter: 1.750
max_extrude_only_distance: 1400.0
max_extrude_only_velocity: 120.0
max_extrude_only_accel: 15000.0
max_extrude_cross_section: 20000.0
heater_pin: PB1 # Heat0
sensor_pin:  PC1 # T0 Header
sensor_type: ATC Semitec 104GT-2
#control: pid
#pid_Kp: 22.2
#pid_Ki: 1.08
#pid_Kd: 114
min_temp: 0
max_temp: 400
smooth_time: 3.0
max_power: 1.0
min_extrude_temp: 20
#[extruder1]
#heater_pin: PA1 # Heat1
#sensor_pin: PC2 # T1
#...

#[extruder2]
#step_pin: PD1
#dir_pin: PD0
#enable_pin: !PD2
#heater_pin: PB0 # Heat2
#sensor_pin: PC3 # T2
#...
########################################
# TMC configuration
########################################

[tmc2209 stepper_x]
uart_pin: PC14
run_current: 0.950
hold_current: 0.500
stealthchop_threshold: 1
diag_pin: PF2
driver_SGTHRS: 120

[tmc2209 stepper_y]
uart_pin: PE1
run_current: 0.950
hold_current: 0.500
stealthchop_threshold: 1
diag_pin: PC13
driver_SGTHRS: 120

[tmc2208 stepper_z]
uart_pin: PB5
run_current: 0.950
hold_current: 0.450
stealthchop_threshold: 1

[tmc2208 stepper_z1]
uart_pin: PG10
run_current: 0.950
hold_current: 0.500
stealthchop_threshold: 1

[tmc2209 extruder]
uart_pin: PD4
run_current: 0.300
hold_current: 0.200
stealthchop_threshold: 1

#[tmc2208 extruder2]
#uart_pin: PC12
#run_current: 0.800
#hold_current: 0.500
#stealthchop_threshold: 5

[heater_bed]
heater_pin: PA2
sensor_pin: PC0 # BED
sensor_type: NTC 100K beta 3950
control = pid
pid_kp = 63.883
pid_ki = 1.876
pid_kd = 543.801
min_temp: 0
max_temp: 130

[thermistor chamber]
temperature1: 22.7
resistance1: 0.692247 
temperature2: 33
resistance2: 0.645757 
temperature3: 40
resistance3: 0.605757 

[temperature_sensor chamber_temp]
sensor_pin: PC2 # T1
sensor_type: chamber


[fan]
pin: PE6 # FAN0

[heater_fan my_nozzle_fan]
pin: PE5 # FAN1
heater: extruder
heater_temp: 50.0
fan_speed: 1

[controller_fan my_controller_fan1]
pin: PB0 # Heat2
fan_speed: 1
idle_timeout: 30
idle_speed: 0.5
kick_start_time: 1

#[heater_fan fan2]
#pin: PC8 # FAN2

[temperature_sensor pi_temp]
sensor_type: rpi_temperature

[temperature_sensor gtr_temp]
sensor_type: temperature_mcu
sensor_temperature1: 22
sensor_adc1: 0.2
#   Specify the above two parameters (a temperature in Celsius and an
#   ADC value as a float between 0.0 and 1.0) to calibrate the
#   micro-controller temperature. This may improve the reported
#   temperature accuracy on some chips. A typical way to obtain this
#   calibration information is to completely remove power from the
#   printer for a few hours (to ensure it is at the ambient
#   temperature), then power it up and use the QUERY_ADC command to
#   obtain an ADC measurement. Use some other temperature sensor on
#   the printer to find the corresponding ambient temperature. The
#   default is to use the factory calibration data on the
#   micro-controller (if applicable) or the nominal values from the
#   micro-controller specification.
#sensor_temperature2:
#sensor_adc2:
#   If sensor_temperature1/sensor_adc1 is specified then one may also
#   specify sensor_temperature2/sensor_adc2 calibration data. Doing so
#   may provide calibrated "temperature slope" information. The
#   default is to use the factory calibration data on the
#   micro-controller (if applicable) or the nominal values from the
#   micro-controller specification.

[mcu rpi]
serial: /tmp/klipper_host_mcu

[mcu]
baud: 250000
restart_method: command
serial: /dev/serial/by-id/usb-Klipper_stm32f407xx_26002D001451383531373233-if00
# setup for PA9, PA10 USART1_tx / rx directly connected to the RPI GPIO TX / RX pins
# These are the pins the GTR uses for its built in RPI 40 pin connector
# only connect GND, TX, RX - supply 5v power to the RPI separately
# do not cross over TX/RX - it is done internally on the GTR PCB.
# Use "sudo raspi-config" to disable the serial terminal - but enable the serial port.
# When running "make menuconfig" you must un-select the USB Serial check box

[printer]
kinematics: corexy
max_velocity: 500
max_accel: 3000
max_z_velocity: 12
max_z_accel: 5

[neopixel lightbarleft]
pin: PF13
#   The pin connected to the neopixel. This parameter must be
#   provided.
chain_count:46
#   The number of Neopixel chips that are "daisy chained" to the
#   provided pin. The default is 1 (which indicates only a single
#   Neopixel is connected to the pin).
#color_order: GRB
#   Set the pixel order required by the LED hardware. Options are GRB,
#   RGB, GRBW, or RGBW. The default is GRB.
#initial_RED: 0.0
#initial_GREEN: 0.0
#initial_BLUE: 0.0
#initial_WHITE: 0.0 
#   Sets the initial LED color of the Neopixel. Each value should be
#   between 0.0 and 1.0. The WHITE option is only available on RGBW

[neopixel lightbarright]
pin: PF11
#   The pin connected to the neopixel. This parameter must be
#   provided.
#chain_count:
#   The number of Neopixel chips that are "daisy chained" to the
#   provided pin. The default is 1 (which indicates only a single
#   Neopixel is connected to the pin).
#color_order: GRB
#   Set the pixel order required by the LED hardware. Options are GRB,
#   RGB, GRBW, or RGBW. The default is GRB.
#initial_RED: 0.0
#initial_GREEN: 0.0
#initial_BLUE: 0.0
#initial_WHITE: 0.0 
#   Sets the initial LED color of the Neopixel. Each value should be
#   between 0.0 and 1.0. The WHITE option is only available on RGBW
#   LEDs. The default for each color is 0.
#   LEDs. The default for each color is 0.

[virtual_sdcard]
path: ~/gcode_files

# Pause/Resume Functionality
[pause_resume]

[display_status]

[gcode_arcs]
resolution: 0.1

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 28.873
#*# pid_ki = 1.659
#*# pid_kd = 125.598
